<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>
 
<p>
  <strong>description:</strong>
  <%= @album.description %>
</p>
<%= link_to 'List', album_pictures_path(params[:id]) %>
<%= link_to 'Edit', edit_album_path(params[:id]) %>
<%= link_to 'Back', albums_path %>