<div class="col-md-12">
  <%= form_for @album,:role => "form" ,:html => {multipart: true } do |f| %>
    <p>
      <%= f.label :name,:class=>"col-md-6"%>
      <%= f.text_field :name, autofocus: true,:required => "true",:class=>"form-control col-md-6",:placeholder=>"Album Name"%>
    </p>
    <p>
      <%= f.label :description,:class=>"col-md-6"%>
      <%= f.text_field :description,:required => "true",:class=>"form-control col-md-6",:placeholder=>"Album Description"%>
    </p>   
    <p class="col-md-12">Picture</p>
    <div class="col-md-12">
      <%6.times do%>
          <%=render 'new_picture', f: f%>
      <% end %>
    </div>
</div>
<div class="col-md-12">
<br><br>
    <%= f.submit :class => "btn btn-success"%>
</div>

  <% end %>