<h1>Album Creation</h1>


<%= form_for @album, :html => {multipart: true } do |f| %>
    <p>
      <%= f.label :name%>
      <%= f.text_field :name%>
    </p>
    <p>
      <%= f.label :description%>
      <%= f.text_field :description%>
    </p>   
      <%2.times do%>
    <%= f.fields_for :pictures, @album.pictures.new  do |p| %>
      <p>
        <%= p.label :name%><br>
        <%= p.text_field :name, :required=>true%>
      </p>
      <p>
        <%= p.label :description %><br>
        <%= p.text_area :description, :required=>true %>
      </p>
      <p>
      
        <%=p.fields_for :tags,p.object.tags.new do |t|%>
          <%=t.label :Tag%>
          <%= t.text_field :name%><br/>
        <% end %>
      </p>
      <p>
        <%= p.file_field :image %>
      </p>
     <%end %>
    <% end %>
    
    <%= f.submit%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),albums_path%>
  
<% end %>