<h1>Picture Edit</h1>

<%= form_for @picture, url: album_picture_path(:album_id => @picture.album_id, :id => @picture.id), method: :patch do |f| %>
<% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@picture.errors.count, "error") %> prohibited
        this picture from being saved:
      </h2>
      <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.hidden_field :album_id ,:value => @picture.album_id%>
    <%= f.label :name%><br>
    <%= f.text_field :name, :required=>true%>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, :required=>true %>
  </p>
 <p>
 <%= link_to image_tag(@picture.image.url(:large)),album_picture_path(:id => params[:id])%>
 </p>

 <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', edit_album_path(params[:album_id]) %>