<!DOCTYPE html>
<html>
<head>
  <title>Photo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body class = "container">
	<p class="navbar-text pull-right ">
	<% if user_signed_in? %>
	  Logged in as <strong><%= current_user.email %></strong>.
	  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
	  <%= link_to "", destroy_user_session_path, method: :delete, :class => 'glyphicon glyphicon-off navbar-link'  %> | 
	  <%= link_to "", root_path, :class => 'glyphicon glyphicon-home'  %>
	  
	<% end %>

	<% if current_user.present? %>
		<% if notice %>
			<p class="alert alert-success "><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger "><%= alert %></font></p>
		<% end %>
	<% end %>
	<div class="col-md-12"></div>
	<%= yield %>
<br><br><br><br>
</body>
</html>
